<template>
  <NuxtLayout name="aside-layout">
    <NuxtPage></NuxtPage>
  </NuxtLayout>
  <NotificationBox></NotificationBox>
</template>
<script>
export default {
  setup() {
    const layout = ref('aside-layout');
    return { layout };
  },
};
</script>
