<template>
  <div class="container mx-auto p-4">
    <!-- Start: Main Title -->
    <div>
      <h1 class="text-3xl font-bold mb-1">JSON vs YAML</h1>
      <p class="text-sm mb-6">
        Convert JSON files to YAML files without any code.
      </p>
    </div>

    <!-- Start: Text Conver -->
    <div class="mb-4">
      <div class="shadow p-2 rounded">
        <div class="mb-4">
          <div class="flex items-end justify-between mb-1">
            <label for="hexa-text">Hexadecimal:</label>
            <div class="space-x-2 self-center">
              <Button size="small">Paste</Button>
            </div>
          </div>
          <Input
            v-model:value="hexadecimalText"
            labelId="hexa-text"
            class="w-full"
            placeholder="Nhập số thập lục phân cần chuyển đổi ..."
            :class="{ capitalize: isFormat }" />
        </div>
        <div class="mb-4">
          <div class="flex items-end justify-between mb-1">
            <label for="decimal-text">Decimal:</label>
            <div class="space-x-2 self-center">
              <Button size="small">Paste</Button>
            </div>
          </div>
          <Input
            v-model:value="decimalText"
            labelId="decimal-text"
            class="w-full"
            placeholder="Nhập số thập phân cần chuyển đổi ..." />
        </div>
        <div class="mb-4">
          <div class="flex items-end justify-between mb-1">
            <label for="octal-text">Octal:</label>
            <div class="space-x-2 self-center">
              <Button size="small">Paste</Button>
            </div>
          </div>
          <Input
            v-model:value="octalText"
            labelId="octal-text"
            class="w-full"
            placeholder="Nhập số bát phân cần chuyển đổi ..." />
        </div>
        <div class="mb-4">
          <div class="flex items-end justify-between mb-1">
            <label for="binary-text">Binary:</label>
            <div class="space-x-2 self-center">
              <Button size="small">Paste</Button>
            </div>
          </div>

          <Input
            v-model:value="binaryText"
            labelId="binary-text"
            class="w-full"
            placeholder="Nhập số nhị phân cần chuyển đổi ..." />
        </div>
      </div>
    </div>

    <!-- Start: Config  -->
    <div class="mb-4">
      <div class="shadow p-2 rounded">
        <div
          class="flex flex-col space-y-3 items-center p-3 rounded bg-slate-100 mb-1 sm:flex-row sm:space-y-0">
          <div class="flex items-center mr-auto">
            <div
              class="flex items-center justify-center w-6 h-6 py-4 pl-3 pr-6">
              <i class="pv pv-left-right"></i>
            </div>
            <div class="flex flex-col">
              <label class="text-sm" for="convertion">Format number</label>
              <span class="text-xs"> Convert input to capitalize </span>
            </div>
          </div>
          <Checkbox v-model:value="isFormat"></Checkbox>
        </div>
      </div>
    </div>

    <!-- Start: Content -->
    <div class="flex space-y-2 md:space-x-2 flex-col md:flex-row">
      <div>
        <!-- Start: How to  -->
        <section>
          <div class="shadow px-4 py-8 rounded">
            <h2 class="text-2xl font-bold mb-2">
              How to use JSON to YAML Conversion Tool
            </h2>
            <div class="space-y-2">
              <div class="flex">
                <div
                  class="flex justify-center items-center w-6 h-6 text-sm rounded-full bg-orange-400 text-white mr-4 shrink-0">
                  1
                </div>
                <div>
                  Paste your JSON input into the left input box and it will
                  automatically convert it into YAML.
                </div>
              </div>
              <div class="flex">
                <div
                  class="flex justify-center items-center w-6 h-6 text-sm rounded-full bg-orange-400 text-white mr-4 shrink-0">
                  2
                </div>
                <div>The YAML output is the box to the right.</div>
              </div>
              <div class="flex">
                <div
                  class="flex justify-center items-center w-6 h-6 text-sm rounded-full bg-orange-400 text-white mr-4 shrink-0">
                  3
                </div>
                <div>
                  If there are any errors in the JSON and the converter isn't
                  able to do the conversion, the error message will appear in
                  the output box letting you know where the error was found in
                  the JSON.
                </div>
              </div>
              <div class="flex">
                <div
                  class="flex justify-center items-center w-6 h-6 text-sm rounded-full bg-orange-400 text-white mr-4 shrink-0">
                  4
                </div>
                <div>
                  Use the control box to select options that will affect the
                  conversion.
                </div>
              </div>
              <div class="flex">
                <div
                  class="flex justify-center items-center w-6 h-6 text-sm rounded-full bg-orange-400 text-white mr-4 shrink-0">
                  5
                </div>
                <div>
                  Your JSON data is secure. ConvertSimple's converter does not
                  send your JSON data to our servers for conversion, the process
                  is done completely in your web browser. That's what makes
                  ConvertSimple's converter the safest and fastest converter out
                  there.
                </div>
              </div>
              Free tool to convert your JSON data to YAML data. Enter the JSON
              data and the tool will generate an equivalent and compatible YAML
              data.You can copy the transformed YAML data and use it in your
              application.
            </div>
          </div>
        </section>

        <!-- Start: Article  -->
        <section>
          <div class="shadow px-4 py-8 rounded space-y-8">
            <article>
              <h2 class="text-2xl font-bold mb-2">What is Json and Yaml?</h2>
              <div class="space-y-4 indent-8">
                <p>
                  JSON and YAML are two popular data serialization formats used
                  for storing and exchanging data between different
                  applications. JSON is a text format that uses a simple syntax
                  to represent data structures in a human-readable form, while
                  YAML is a human-readable configuration file format often used
                  for storing application settings.
                </p>
                <p>
                  JSON to YAML Converter is a tool that converts JSON data into
                  YAML format by taking a JSON file or JSON data as input and
                  mapping it to equivalent YAML syntax. The resulting YAML
                  output can be edited and modified using any text editor,
                  making the data easy to read and understand by humans.
                </p>
                <div>
                  <p>
                    There are several benefits of using a JSON to YAML
                    converter, including
                  </p>
                  <ul class="list-disc list-inside">
                    <li>
                      YAML is designed to be easy to read and write, making it a
                      more readable format than JSON, especially for complex
                      data structures.
                    </li>
                    <li>
                      YAML supports additional data types such as dates,
                      timestamps, and regular expressions, allowing for more
                      flexible data representation.
                    </li>
                    <li>
                      YAML files are often smaller than equivalent JSON files
                      due to their more concise syntax.
                    </li>
                    <li>
                      YAML allows for more structured and organized data
                      representation than JSON, supporting multi-line strings,
                      comments, and anchors.
                    </li>
                    <li>
                      YAML is often used for configuration files, and converting
                      JSON to YAML can simplify the management of configuration
                      data.
                    </li>
                  </ul>
                </div>
                <div>
                  <p>
                    Converting JSON data to YAML using the general process
                    involves the following steps:
                  </p>
                  <ul class="list-disc list-inside">
                    <li>
                      Copy the JSON data you want to convert and paste it into
                      the converter tool.
                    </li>
                    <li>
                      Click the "Convert" button to initiate the conversion
                      process. Once the conversion is complete, the tool
                      provides you with the converted YAML data.
                    </li>
                    <li>
                      Copy the converted YAML data and save it as a new file
                      with the .yml or .yaml file extension.
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article>
              <h2 class="text-2xl font-bold mb-2">
                What is a JSON to YAML Converter?
              </h2>
              <div class="space-y-4 indent-8">
                <p>
                  A JSON to YAML Converter is a tool that can be used to convert
                  JSON data into YAML format. The conversion process involves
                  parsing the JSON data and mapping it to equivalent YAML
                  syntax.
                </p>
              </div>
            </article>
            <article>
              <h2 class="text-2xl font-bold mb-2">
                What are the benefits of using a JSON to YAML Converter?
              </h2>
              <div class="space-y-4 indent-8">
                <p>
                  A JSON to YAML Converter allows you to convert your JSON
                  documents into readable YAML files, making them easier to read
                  and understand. The resulting YAML output can be edited and
                  modified using any text editor, making it easier to manage
                  configuration files.
                </p>
              </div>
            </article>
            <article>
              <h2 class="text-2xl font-bold mb-2">
                How can a JSON to YAML Converter be used in software
                development?
              </h2>
              <div class="space-y-4 indent-8">
                <p>
                  A JSON to YAML Converter can be useful in software development
                  when creating configuration files for software applications.
                  By converting JSON data to YAML format, the resulting YAML
                  data can be easily edited and modified by humans, making it
                  easier to manage and maintain complex configurations.
                </p>
              </div>
            </article>
            <article>
              <h2 class="text-2xl font-bold mb-2">
                What are the common use cases for a JSON to YAML Converter?
              </h2>
              <div class="space-y-4 indent-8">
                <p>
                  Some common use cases for a JSON to YAML Converter include
                  converting configuration files from JSON to YAML format,
                  transferring data between systems that use different data
                  formats, and improving the readability and organization of
                  JSON data.
                </p>
              </div>
            </article>
          </div>
        </section>
      </div>
      <aside class="md:w-1/4 shrink-0 space-y-2">
        <AsidePosts title="Posts" :list="posts"></AsidePosts>
        <AsideTags title="Tags" :list="tags"></AsideTags>
      </aside>
    </div>
  </div>
</template>
<script setup>
useHead({
  title: 'Json vs Yaml',
  htmlAttrs: {
    lang: 'en',
  },
});
// Reactive
const hexadecimalText = ref(null);
const decimalText = ref(null);
const octalText = ref(null);
const binaryText = ref(null);
const isFormat = ref(false);

// Constant
const posts = [
  {
    url: '#',
    text: 'What is Json?',
  },
  {
    url: '#',
    text: 'How to drink water by mouth?',
  },
  {
    url: '#',
    text: 'Why use Yaml?',
  },
  {
    url: '#',
    text: 'What is a base-64 image?',
  },
  {
    url: '#',
    text: 'Javascript, how to learn?',
  },
];
const tags = [
  {
    url: '#',
    text: 'Json',
  },
  {
    url: '#',
    text: 'Yaml',
  },
  {
    url: '#',
    text: 'Convert',
  },
  {
    url: '#',
    text: 'Transform',
  },
  {
    url: '#',
    text: 'Json to Yaml',
  },
  {
    url: '#',
    text: 'Yaml to Json',
  },
];
</script>
