@font-face {
  font-family: 'pv';
  src:  url('fonts/pv.eot?ycz5cf');
  src:  url('fonts/pv.eot?ycz5cf#iefix') format('embedded-opentype'),
    url('fonts/pv.ttf?ycz5cf') format('truetype'),
    url('fonts/pv.woff?ycz5cf') format('woff'),
    url('fonts/pv.svg?ycz5cf#pv') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pv-"], [class*=" pv-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pv' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pv-data-security:before {
  content: "\e938";
}
.pv-information:before {
  content: "\e935";
}
.pv-check:before {
  content: "\e932";
}
.pv-error:before {
  content: "\e933";
}
.pv-warning:before {
  content: "\e934";
}
.pv-left-right-thin:before {
  content: "\e92e";
}
.pv-letter:before {
  content: "\e92f";
}
.pv-space:before {
  content: "\e930";
}
.pv-right-arrow-db:before {
  content: "\e931";
}
.pv-right-arrow:before {
  content: "\e914";
}
.pv-left-arrow2:before {
  content: "\e91d";
}
.pv-down-arrow:before {
  content: "\e92a";
}
.pv-tick:before {
  content: "\e92b";
}
.pv-up-arrow:before {
  content: "\e92c";
}
.pv-indent:before {
  content: "\e92d";
}
.pv-left-right:before {
  content: "\e901";
  color: #0a0b12;
}
.pv-upload-file:before {
  content: "\e91e";
}
.pv-close:before {
  content: "\e91f";
}
.pv-editor:before {
  content: "\e920";
}
.pv-photo:before {
  content: "\e921";
}
.pv-picture:before {
  content: "\e922";
}
.pv-compare:before {
  content: "\e923";
}
.pv-brackets:before {
  content: "\e902";
}
.pv-text:before {
  content: "\e903";
}
.pv-text-square:before {
  content: "\e904";
}
.pv-add-file:before {
  content: "\e906";
}
.pv-file:before {
  content: "\e907";
}
.pv-id:before {
  content: "\e908";
}
.pv-hash:before {
  content: "\e909";
}
.pv-fingerprint:before {
  content: "\e90a";
}
.pv-xml:before {
  content: "\e90b";
}
.pv-insurance:before {
  content: "\e90c";
}
.pv-zip:before {
  content: "\e90d";
}
.pv-copy:before {
  content: "\e900";
}
.pv-markdown:before {
  content: "\e90e";
}
.pv-hide:before {
  content: "\e924";
}
.pv-art:before {
  content: "\e925";
}
.pv-cog:before {
  content: "\e926";
}
.pv-left-align:before {
  content: "\e90f";
}
.pv-sql:before {
  content: "\e910";
}
.pv-cycle-64:before {
  content: "\e911";
}
.pv-square-64:before {
  content: "\e913";
}
.pv-gallery:before {
  content: "\e927";
}
.pv-image-gallery:before {
  content: "\e928";
}
.pv-text-format:before {
  content: "\e929";
}
.pv-unlink:before {
  content: "\e905";
}
.pv-html:before {
  content: "\e915";
}
.pv-binary-code:before {
  content: "\e916";
}
.pv-sun:before {
  content: "\e917";
}
.pv-timing:before {
  content: "\e918";
}
.pv-json:before {
  content: "\e919";
}
.pv-transfer:before {
  content: "\e91a";
}
.pv-exchange:before {
  content: "\e91b";
}
.pv-convert-file:before {
  content: "\e91c";
}
.pv-menu:before {
  content: "\e936";
}
.pv-home:before {
  content: "\e912";
}
.pv-search:before {
  content: "\e937";
}
