<script setup>
defineProps({
  title: {
    default: 'Post',
  },
  list: {
    type: Array,
    default: [], // { url, text }
  },
});
</script>
<template>
  <section class="shadow px-4 py-8 rounded">
    <div class="mb-2">
      <img
        src="./../assets/images/svg/shopping.svg"
        alt="post"
        class="h-5 w-5 mr-2 select-none object-contain inline align-baseline" />
      <h3 class="text-xl font-bold inline">{{ title }}</h3>
    </div>
    <div class="flex flex-wrap text-sm -mx-1 -my-1 [&>*]:mx-1 [&>*]:my-1">
      <a
        class="px-2 py-1 bg-gray-100 rounded"
        :href="item.url"
        v-for="(item, index) in list"
        :key="index"
        >{{ item.text }}</a
      >
    </div>
  </section>
</template>
