<script setup>
defineProps({
  title: {
    default: 'Post',
  },
  list: {
    type: Array,
    default: [], // { url, text }
  },
});
</script>
<template>
  <section class="shadow px-4 py-8 rounded">
    <div class="mb-2">
      <img
        src="./../assets/images/svg/sign.svg"
        alt="post"
        class="h-5 w-5 mr-2 select-none object-contain inline align-baseline" />
      <h3 class="text-xl font-bold inline">{{ title }}</h3>
    </div>
    <ul class="space-y-1">
      <li v-for="(item, index) in list" :key="index">
        <a :href="item.url" class="line-clamp-2">{{ item.text }}</a>
      </li>
    </ul>
  </section>
</template>
