<script setup>
const props = defineProps({
  size: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['small', 'default'].includes(val);
    },
  },
});
const emits = defineEmits(['click']);

function onClickButton() {
  emits('click');
}
</script>
<template>
  <button
    class="inline-block items-center justify-center border border-primary-300 rounded bg-primary-400 text-white hover:bg-primary-300 active:bg-primary-600 transition duration-300 space-x-1 focus:outline-primary-300 text-center"
    :class="{
      'px-4 py-2 text-base': size === 'default',
      'px-2 py-1 text-sm': size === 'small',
    }"
    @click="onClickButton">
    <slot name="icon"></slot>
    <span>
      <slot></slot>
    </span>
  </button>
</template>
