<script setup>
// Props
const props = defineProps({
  duration: {
    type: Number,
    default: 600, // ms,
  },
});

const secondDuration = computed(() => props.duration / 1000 + 's');
</script>
<template>
  <ClientOnly>
    <Transition name="scale-fade" mode="out-in">
      <slot />
    </Transition>
  </ClientOnly>
</template>
<style>
.scale-fade-enter-active {
  display: inline-block;
  animation: scale-show 0.6s ease;
  animation-duration: v-bind(secondDuration);
}

@keyframes scale-show {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
</style>
