<script setup>
// Props
const props = defineProps({
  value: {
    type: [Boolean, null, undefined],
    required: true,
    default: false,
  },
  description: String,
});
// Emits
const emits = defineEmits(['update:value']);

// Template Ref
const inputRef = ref(null);

// Method
function onClickCheckbox() {
  inputRef.value.checked = !inputRef.value.checked;
  emits('update:value', inputRef.value.checked);
}
</script>
<template>
  <div class="flex select-none" @click="onClickCheckbox">
    <div class="self-center mr-2 text-xs">{{ description }}</div>
    <input
      type="checkbox"
      class="peer hidden"
      :checked="value"
      ref="inputRef" />
    <div
      class="relative w-12 h-6 rounded-full border border-gray-200 bg-white overflow-hidden cursor-pointer peer-checked:[&>div]:left-6 peer-checked:bg-blue-400 peer-checked:[&>div]:bg-gray-100 transition-all duration-300 shadow-inner hover:bg-gray-100">
      <div
        class="absolute top-1/2 left-1 h-5 w-5 -translate-y-1/2 bg-gray-400 rounded-full transition-all duration-300"></div>
    </div>
  </div>
</template>
