<script setup>
// Props
const props = defineProps({
  value: {
    required: true,
  },
  label: {
    type: String,
    default: '',
  },
  isCopy: {
    type: Boolean,
    default: false,
  },
  isClear: {
    type: Boolean,
    default: false,
  },
  isUpload: {
    type: Boolean,
    default: false,
  },
  maxSize: {
    type: Number,
    default: null,
  },
  theme: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['dark', 'default'].includes(val);
    },
  },
});

const emits = defineEmits(['update:value', 'copy', 'upload', 'clear', 'error']);

// Ref Template
const file = ref(null);
const isLoadFile = ref(null);
const progress = ref(0);
const sizeImage = ref(null);
const errorText = ref(null);

function onClickCopy() {
  navigator.clipboard.writeText(props.value);
  emits('copy', '');
}

function onClickUpload() {
  file.value.click();
  emits('upload');
}

function onClickClear() {
  emits('update:value', '');
  emits('clear');
}

function onReadFile(event) {
  isLoadFile.value = true;

  if (file.value.files[0]) {
    sizeImage.value = file.value.files[0].size;

    if (props.maxSize && sizeImage.value) {
      if (sizeImage.value > props.maxSize * 1024 * 1024) {
        isLoadFile.value = false;
        errorText.value = `Kích thước lớn hơn ${props.maxSize}MB`;
        emits('error', `Kích thước lớn hơn ${props.maxSize}MB`);
        return;
      }
    }

    const reader = new FileReader();
    reader.readAsText(file.value.files[0]);

    reader.onload = function (event) {
      isLoadFile.value = false;
      emits('update:value', event.target.result);
    };

    reader.onprogress = (event) => {
      const { loaded, total } = event;
      if (loaded && total) {
        progress.value = (event.loaded / event.total) * 100;
      }
    };

    reader.onerror = () => {
      errorText.value = reader.error;
      emits('error', reader.error);
    };
  } else isLoadFile.value = false;
}

watch(errorText, function () {
  if (errorText.value) {
    setTimeout(function () {
      errorText.value = '';
    }, 5000);
  }
});
</script>
<template>
  <div class="relative">
    <div
      class="border-gray-300 border rounded shadow transition-all"
      :class="{
        'bg-slate-900': theme === 'dark',
        'bg-white ': theme === 'default',
        'shadow-md': errorText,
        'shadow-error-normal': errorText,
      }">
      <div class="flex justify-between border-gray-300 border-b">
        <div class="text-primary-500 px-3 py-1">{{ label }}</div>
        <div class="flex flex-wrap">
          <CodeBlockIcon
            v-if="isClear"
            :isCheck="true"
            title="Clear"
            @click="onClickClear">
            <div class="inline-block">
              <i class="pv pv-close"></i>
            </div>
          </CodeBlockIcon>
          <CodeBlockIcon v-if="isUpload" title="Upload">
            <input
              type="file"
              class="hidden"
              @change="onReadFile"
              ref="file"
              data-arrr="hello" />
            <label
              class="inline-block text-base px-3 py-1 select-none cursor-pointer"
              @click="onClickUpload">
              <i class="pv pv-upload-file"></i>
            </label>
          </CodeBlockIcon>
          <CodeBlockIcon
            v-if="isCopy"
            :isCheck="true"
            title="Copy"
            @click="onClickCopy">
            <div class="inline-block">
              <i class="pv pv-copy"></i>
            </div>
          </CodeBlockIcon>
        </div>
      </div>
      <div class="inline">
        <slot />
      </div>
    </div>
    <div
      v-if="isLoadFile"
      class="absolute inset-0 bg-white/[0.2] flex justify-center items-center">
      <div class="h-2 w-3/4 bg-gray-400 rounded-lg overflow-hidden">
        <div
          class="h-full bg-primary-500 rounded-lg"
          :style="{ width: progress + '%' }"></div>
      </div>
    </div>
    <Transition name="fade">
      <div
        v-if="errorText"
        class="group absolute bottom-3 right-3 text-error-normal">
        <i class="pv pv-information cursor-pointer"></i>
        <div
          class="w-28 bg-black text-white text-center text-xs rounded-lg py-2 absolute z-10 group-hover:opacity-100 bottom-full right-1 px-3 pointer-events-none">
          {{ errorText }}
          <svg
            class="absolute text-black h-2 right-0 top-full"
            x="0px"
            y="0px"
            viewBox="0 0 255 255"
            xml:space="preserve">
            <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
          </svg>
        </div>
      </div>
    </Transition>
  </div>
</template>
