<script setup>
// Props
const props = defineProps({
  isCheck: {
    type: Boolean,
    default: false,
  },
  title: {
    type: String,
    default: '',
  },
  theme: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['dark', 'default'].includes(val);
    },
  },
});
// Emits
const emits = defineEmits(['click']);

// Reactive
const isChange = ref(null);
// Constant
const changeDuration = 1200; // ms
// Methods
function onClickButton() {
  emits('click');

  if (props.isCheck) {
    isChange.value = true;

    setTimeout(function () {
      isChange.value = false;
    }, changeDuration);
  }
}
</script>
<template>
  <ClientOnly>
    <div
      v-if="isCheck"
      class="ml-2 text-amber-700"
      :class="{
        'bg-black': isChange && theme === 'dark',
        'bg-gray-200': isChange && theme === 'default',
        'text-primary-500': isChange,
        'hover:bg-black hover:text-primary-500': theme === 'dark',
        'hover:bg-gray-200 hover:text-primary-700': theme === 'default',
      }">
      <button
        class="inline-block text-base px-3 py-1 select-none"
        :title="title"
        @click="onClickButton"
        :disabled="isChange">
        <CheckTransition :duration="changeDuration">
          <div class="inline-block" v-if="isChange">
            <i class="pv pv-tick"></i>
          </div>
          <slot v-else />
        </CheckTransition>
      </button>
    </div>
    <div v-else>
      <div
        class="ml-2 text-amber-700"
        :class="{
          'hover:bg-black hover:text-primary-500': theme === 'dark',
          'hover:bg-gray-200 hover:text-primary-700': theme === 'default',
        }"
        :title="title">
        <slot />
      </div>
    </div>
  </ClientOnly>
</template>
