<script setup>
// Props
const props = defineProps({
  value: {
    required: true,
  },
  maxSize: {
    type: Number,
    default: null,
  },
});
// Emits
const emits = defineEmits(['update:value', 'error']);
// Reactive
const errorText = ref('');
const fileName = ref('');
const isDrag = ref(false);
// Template Ref
const inputRef = ref(null);
// Methods
function onClickUpload() {
  inputRef.value.click();
}
function onReadFile() {
  console.log('onReadFile');
  fileName.value = '';
  errorText.value = '';

  if (inputRef.value.files[0]) {
    fileName.value = inputRef.value.files[0].name;

    let sizeImage = inputRef.value.files[0].size;
    if (props.maxSize && sizeImage) {
      if (sizeImage > props.maxSize * 1024 * 1024) {
        errorText.value = `Kích thước lớn hơn ${props.maxSize}MB`;
        emits('error', `Kích thước lớn hơn ${props.maxSize}MB`);
        return;
      }
    }

    const reader = new FileReader();
    reader.readAsText(inputRef.value.files[0]);

    reader.onload = function (event) {
      emits('update:value', event.target.result);
    };

    reader.onerror = () => {
      errorText.value = reader.error;
      emits('error', reader.error);
    };
  }
}
function onDragEnter(event) {
  isDrag.value = true;
  event.preventDefault();
  console.log('dragenter');
}
function onDragLeave(event) {
  isDrag.value = false;
  event.preventDefault();
  console.log('dragleave');
}
function onDragover(event) {
  event.preventDefault();
  console.log('dragover');
}
function onDrop(event) {
  isDrag.value = false;
  fileName.value = '';
  errorText.value = '';
  event.preventDefault();

  if (event.dataTransfer.files[0]) {
    fileName.value = event.dataTransfer.files[0].name;

    let sizeImage = event.dataTransfer.files[0].size;
    if (props.maxSize && sizeImage) {
      if (sizeImage > props.maxSize * 1024 * 1024) {
        errorText.value = `Kích thước lớn hơn ${props.maxSize}MB`;
        emits('error', `Kích thước lớn hơn ${props.maxSize}MB`);
        return;
      }
    }

    const reader = new FileReader();
    reader.readAsText(event.dataTransfer.files[0]);

    reader.onload = function (event) {
      emits('update:value', event.target.result);
    };

    reader.onerror = () => {
      errorText.value = reader.error;
      emits('error', reader.error);
    };
  }
}
</script>
<template>
  <div
    class="border-2 border-dashed border-gray-300 bg-gray-100 py-4 px-4 text-center relative select-none cursor-pointer"
    @dragover="onDragover"
    @dragenter="onDragEnter"
    @dragleave="onDragLeave"
    @drop="onDrop"
    @click="onClickUpload">
    <div class="pointer-events-none" :class="{ 'opacity-0': isDrag }">
      <p class="mb-2">Drag & drop a PFX, CER, PEM file here</p>
      <p class="mb-2">Or</p>
      <input type="file" ref="inputRef" class="hidden" @change="onReadFile" />
      <p class="text-blue-500 inline-block">Upload file</p>
      <p class="text-red-400" v-if="errorText">Error: {{ errorText }}</p>
      <p class="text-orange-400" v-if="fileName">
        <span>File: {{ fileName }}</span>
      </p>
      <p class="text-gray-400" v-else>
        <span>(Chưa upload file)</span>
      </p>
    </div>
    <div
      class="absolute top-0 right-0 bottom-0 left-0 bg-gray-100 bg-opacity-40 flex items-center justify-center pointer-events-none"
      v-show="isDrag">
      <span class="text-5xl text-gray-500">+</span>
    </div>
  </div>
</template>
