<template>
  <div class="border-t">
    <div class="flex flex-col px-4 bg-gray-100 pt-12 pb-8 md:flex-row">
      <div class="flex flex-col items-center w-full md:w-1/3 mb-8 md:mb-0">
        <nuxt-img
          src="/images/dev-toys-logo-orange-outline.png"
          width="224px"
          format="webp"
          fit="contain"
          alt="logo"
          loading="lazy"
          class="w-56 h-32 object-contain" />
        <div class="px-8 text-center text-gray-600">
          Elevate Your Code: Effortless Conversion, Flawless Formatting.
        </div>
      </div>
      <div class="flex-1 self-center flex flex-wrap">
        <div class="flex-shrink-0 w-full md:w-1/3 mb-6 md:mb-0">
          <p class="font-bold text-center text-lg mb-2">Company</p>
          <ul>
            <li class="px-4 py-1">
              <NuxtLink
                :to="{ name: 'about' }"
                class="block text-gray-900 text-center">
                About
              </NuxtLink>
            </li>
            <li class="px-4 py-1">
              <NuxtLink class="block text-gray-900 text-center">
                Security
              </NuxtLink>
            </li>
            <li class="px-4 py-1">
              <NuxtLink class="block text-gray-900 text-center">
                Format
              </NuxtLink>
            </li>
            <li class="px-4 py-1">
              <NuxtLink class="block text-gray-900 text-center">
                Help
              </NuxtLink>
            </li>
          </ul>
        </div>
        <div class="flex-shrink-0 w-full md:w-1/3 mb-6 md:mb-0">
          <p class="font-bold text-center text-lg mb-2">Resources</p>
          <ul>
            <li class="px-4 py-1">
              <NuxtLink class="block text-gray-900 text-center">
                Blog
              </NuxtLink>
            </li>
            <li class="px-4 py-1">
              <NuxtLink class="block text-gray-900 text-center">
                Status
              </NuxtLink>
            </li>
          </ul>
        </div>
        <div class="flex-shrink-0 w-full md:w-1/3 mb-6 md:mb-0">
          <p class="font-bold text-center text-lg mb-2">Contact</p>
          <ul>
            <li class="px-4 py-1">
              <NuxtLink
                :to="{ name: 'contact' }"
                class="block text-gray-900 text-center">
                Contact Us
              </NuxtLink>
            </li>
            <li class="px-4 py-1 text-center">
              <a href="mailto:devtool@gmail.com">
                <span class="font-bold">Gmail: </span>
                devtool@gmail.com
              </a>
            </li>
            <li class="px-4 py-1 text-center">
              <span>
                <span class="font-bold">Address: </span>
                59 W Kendrick Ave, Hamilton, New York
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-between bg-gray-300 px-4 py-1">
      <div class="text-sm text-gray-600">© 2023 ModernWeb</div>
      <div class="text-sm text-gray-600">
        <NuxtLink>Privacy</NuxtLink>
        <span class="mx-4">/</span>
        <NuxtLink>Term</NuxtLink>
      </div>
    </div>
  </div>
</template>
