<script setup>
const props = defineProps({
  title: {
    type: String,
    required: true,
  },
  description: {
    type: String,
  },
});
</script>
<template>
  <div
    class="flex flex-col relative shadow-lg rounded px-2 border hover:bg-primary-50 hover:ring-1 hover:ring-primary-300 hover:shadow-primary-100 active:bg-primary-100 transition-all">
    <div class="text-center text-4xl border-b py-8">
      <slot name="icon"></slot>
    </div>
    <div class="flex-1 flex flex-col pt-3 pb-5 px-2">
      <h3 class="text-center mb-1 line-clamp-2">{{ title }}</h3>
      <p
        class="mt-auto text-xs text-gray-400 text-center sm:text-justify line-clamp-3">
        {{ description }}
      </p>
      <div class="[&>a]:before:absolute [&>a]:before:inset-0">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
