<script setup>
const props = defineProps({
  value: {
    type: [Number, null, undefined],
    required: true,
  },
  min: {
    type: Number,
    default: null,
  },
  max: {
    type: Number,
    default: null,
  },
  step: {
    type: Number,
    default: 1,
  },
  labelId: {
    type: String,
    default: null,
  },
  size: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['small', 'default'].includes(val);
    },
  },
});

const emits = defineEmits(['update:value']);

const inputRef = ref(null);
const numberValue = ref(props.value);

function handleIncrease() {
  inputRef.value.focus();

  let newValue =
    props.value === null || props.value === undefined
      ? props.step
      : props.value + props.step;

  if (props.min !== null && newValue < props.min) return;
  if (props.max !== null && newValue > props.max) {
    if (props.value === null || props.value === undefined)
      emits('update:value', props.max);
    return;
  }
  emits('update:value', newValue);
}

function handleReduce() {
  inputRef.value.focus();

  let newValue =
    props.value === null || props.value === undefined
      ? -props.step
      : props.value - props.step;

  if (props.min !== null && newValue < props.min) {
    if (props.value === null || props.value === undefined)
      emits('update:value', props.min);
    return;
  }
  if (props.max !== null && newValue > props.max) return;
  emits('update:value', newValue);
}

function onChangeInput(event) {
  if (Number.isNaN(Number(event.target.value))) {
    numberValue.value = props.value;
    return;
  }
  emits('update:value', Number(event.target.value));
}

watchEffect(function () {
  numberValue.value = props.value;
});
</script>
<template>
  <div
    class="group flex w-fit max-w-full border border-gray-300 shadow bg-white rounded-sm focus-within:ring-1 focus-within:ring-primary-200 focus-within:shadow-primary-200 focus-within:border-b-primary-300">
    <div class="w-full">
      <input
        v-model="numberValue"
        autocomplete="off"
        type="text"
        class="outline-none h-full w-full pl-4 pr-2 py-1"
        :class="{
          'py-1 text-sm': size === 'small',
          'py-2 text-base': size === 'default',
        }"
        ref="inputRef"
        placeholder="Vui lòng nhập số"
        @change="onChangeInput"
        @keydown.down.prevent="handleReduce"
        @keydown.up.prevent="handleIncrease"
        :id="labelId" />
    </div>
    <div
      class="inline-flex flex-col divide-y border-l opacity-0 group-focus-within:opacity-100 hover:opacity-100 transition-opacity duration-300">
      <span
        class="text-iconsmall py-1 px-2 hover:bg-gray-100 active:bg-gray-200 cursor-pointer h-1/2 flex items-center"
        @click="handleIncrease">
        <i class="pv pv-up-arrow"></i>
      </span>
      <span
        class="text-iconsmall py-1 px-2 hover:bg-gray-100 active:bg-gray-200 cursor-pointer h-1/2 flex items-center"
        @click="handleReduce">
        <i class="pv pv-down-arrow"></i>
      </span>
    </div>
  </div>
</template>
