<script setup>
// Props
const props = defineProps({
  value: {
    required: true,
  },
  labelId: {
    type: String,
    default: null,
  },
  size: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['small', 'default'].includes(val);
    },
  },
  placeholder: {
    type: String,
    default: '',
  },
});
// Emits
const emits = defineEmits(['update:value']);
// Methods
function onInput(event) {
  emits('update:value', event.target.value);
}
</script>
<template>
  <input
    type="text"
    class="border border-gray-300 bg-white rounded-sm shadow w-full outline-none px-3 focus:ring-1 focus:ring-primary-200 focus:shadow-primary-200 focus:border-b-primary-300"
    :value="value"
    @input="onInput"
    :placeholder="placeholder"
    :class="{
      'py-1 text-sm': size === 'small',
      'py-2 text-base': size === 'default',
    }"
    :id="labelId" />
</template>
