<template>
  <Codemirror
    :modelValue="value"
    :autofocus="autofocus"
    :disabled="disabled"
    :indent-with-tab="indentWithTab"
    :tab-size="tabSize"
    :extensions="extensions"
    :placeholder="placeholder"
    :style="{ height: '400px' }"
    @ready="onReady"
    @change="onChange"
    @focus="onFocus"
    @blur="onBlur" />
</template>
<script setup>
import { Codemirror } from 'vue-codemirror';
import { markdown } from '@codemirror/lang-markdown';
import { oneDark } from '@codemirror/theme-one-dark';
import useCodeblock from '@/composables/useCodeblock';

// Props
const props = defineProps({
  value: {
    required: true,
  },
  autofocus: {
    type: Boolean,
    default: false,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  indentWithTab: {
    type: Boolean,
    default: true,
  },
  tabSize: {
    type: Number,
    default: 2,
  },
  placeholder: {
    type: String,
    default: 'Code goes here...',
  },
  autoDestroy: {
    type: Boolean,
    default: true,
  },
  theme: {
    type: String,
    default: 'dark',
    validator: (val) => {
      return ['dark', 'default'].includes(val);
    },
  },
});

// Emits
const emits = defineEmits(['ready', 'change', 'focus', 'blur', 'update:value']);

// Reactive & Method
const { extensions, onReady, onChange, onFocus, onBlur } = useCodeblock(emits);

// Watch Effect
watchEffect(() => {
  if (props.theme === 'dark') {
    extensions.value = [markdown(), oneDark];
  } else extensions.value = [markdown()];
});
</script>
