<script setup>
// eslint-disable-next-line no-unused-vars
const props = defineProps({
  theme: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['default', 'dark'].includes(val);
    },
  },
});
</script>
<template>
  <ul class="flex flex-col space-y-2" :class="{ dark: theme === 'dark' }">
    <slot></slot>
  </ul>
</template>
