<script setup>
// Props
const props = defineProps({
  label: {
    type: String,
    required: true,
  },
  icon: {
    type: [Object, Array, String],
    default: null,
  },
  href: {
    type: [String, Object],
  },
  children: {
    type: Array,
    default: () => [],
  },
  isExpand: {
    type: Boolean,
    default: false,
  },
});
// Reactive Variable
const containerHeight = ref(props.isExpand ? 'fit-content' : '0');
const showChildren = ref(props.isExpand);
// Template Ref
const containerRef = ref(null);
// Computed
const isMultiLevel = computed(() => {
  return Array.isArray(props.children) && props.children.length > 0;
});
//Method
function onToggleMenu() {
  if (!showChildren.value) {
    // Show;
    showChildren.value = true;
    nextTick(() => {
      containerHeight.value = containerRef.value.scrollHeight + 'px';
      setTimeout(() => {
        containerHeight.value = 'fit-content';
      }, 300);
    });
  } else {
    // Hidden;
    containerHeight.value = containerRef.value.scrollHeight + 'px';

    setTimeout(() => {
      containerHeight.value = 0 + 'px';
    }, 10);

    setTimeout(() => {
      showChildren.value = false;
    }, 300);
  }
}
</script>
<template>
  <li v-if="isMultiLevel" class="select-none">
    <div
      class="relative text-gray-900 dark:text-gray-100 dark:hover:text-white flex justify-between dark:focus-within:text-white cursor-pointer"
      @click="onToggleMenu">
      <div class="flex items-center w-full">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
          <slot name="icon"></slot>
        </div>
        <div
          class="inline-block w-full px-8 py-2 text-sm hover:bg-primary-50 dark:hover:bg-gray-800 rounded [&>a]:no-underline [&>a]:focus-within:outline-none focus-within:ring-1 focus-within:ring-primary-300 dark:focus-within:bg-gray-800 [&>a]:before:content[''] [&>a]:before:absolute [&>a]:before:inset-0 [&>a]:before:z-10">
          <slot>
            <a :href="href">{{ label }}</a>
          </slot>
        </div>
      </div>
      <span
        class="absolute inset-y-0 right-2 p-1 flex items-center focus:outline-none focus:ring-1 dark:focus:text-white focus:ring-primary-300 text-icon"
        ><i class="pv pv-down-arrow"></i
      ></span>
    </div>
    <div
      v-show="showChildren"
      ref="containerRef"
      class="pt-2 pl-4 transition-all duration-300"
      :class="{ 'overflow-hidden': containerHeight !== 'fit-content' }"
      :style="{ height: containerHeight }">
      <ul
        class="flex flex-col pl-2 text-gray-900 dark:text-gray-100 border-l dark:border-gray-700">
        <li
          v-for="(childrenItem, index) of children"
          :key="index"
          class="relative inline-block w-full px-4 py-2 text-sm rounded select-none hover:bg-primary-50 dark:hover:bg-gray-800 dark:hover:text-white [&>a]:focus-within:outline-none focus-within:outline-none focus-within:ring-1 focus-within:ring-primary-300 dark:focus:focus-within:text-white [&>a]:no-underline [&>a]:before:content[''] [&>a]:before:absolute [&>a]:before:inset-0 [&>a]:before:z-10">
          <slot
            name="childrenLink"
            :href="childrenItem.href"
            :label="childrenItem.label">
            <a :href="childrenItem.href">{{ childrenItem.label }}</a>
          </slot>
        </li>
      </ul>
    </div>
  </li>
  <li
    v-else
    class="relative text-gray-900 dark:text-gray-100 dark:hover:text-white dark:focus-within:text-white cursor-pointer">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
      <slot name="icon"></slot>
    </div>
    <div
      class="inline-block w-full px-8 py-2 text-sm select-none hover:bg-primary-50 dark:hover:bg-gray-800 rounded dark:focus:bg-gray-800 focus-within:ring-1 focus-within:ring-primary-300 [&>a]:no-underline [&>a]:focus-within:outline-none [&>a]:before:content[''] [&>a]:before:absolute [&>a]:before:inset-0 [&>a]:before:z-10">
      <slot>
        <a :href="href">{{ label }}</a>
      </slot>
    </div>
  </li>
</template>
