<script setup>
const props = defineProps({
  id: {
    required: true,
  },
  type: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['default', 'success', 'info', 'warning', 'error'];
    },
  },
  title: {
    type: String,
    required: true,
  },
  description: {
    type: String,
  },
});

const emits = defineEmits(['close']);

const toastContainerRef = ref(null);

function onClose() {
  emits('close', props.id);
}
</script>
<template>
  <div class="relative w-fit max-w-full mb-4 bg-white pointer-events-auto">
    <div
      class="flex items-center px-6 py-5 rounded shadow-lg border border-gray-100 border-l-4"
      :class="{
        ' border-l-success-normal': type === 'success',
        ' border-l-info-normal': type === 'info',
        ' border-l-warning-normal': type === 'warning',
        ' border-l-error-normal': type === 'error',
      }">
      <div
        class="text-noti mr-3"
        :class="{
          'text-success-normal': type === 'success',
          'text-info-normal': type === 'info',
          'text-warning-normal': type === 'warning',
          'text-error-normal': type === 'error',
        }">
        <i class="pv pv-check" v-if="type === 'success'"></i>
        <i class="pv pv-information" v-if="type === 'info'"></i>
        <i class="pv pv-warning" v-if="type === 'warning'"></i>
        <i class="pv pv-error" v-if="type === 'error'"></i>
      </div>
      <div class="w-96">
        <div class="font-semibold">{{ title }}</div>
        <div class="text-sm text-gray-800 line-clamp-3">
          {{ description }}
        </div>
      </div>
    </div>
    <div
      class="flex justify-center items-center absolute top-5 right-5 translate-x-1/2 -translate-y-1/2 cursor-pointer p-1"
      @click="onClose">
      <i class="pv pv-close"></i>
    </div>
  </div>
</template>
