<script setup>
import { notification } from '@/composables/useNotification.js';

const toastContainerRef = ref(null);

function onCloseItem(id) {
  notification.close(id);
}

onUpdated(() => {});
</script>
<template>
  <Teleport to="body">
    <div
      class="fixed top-6 bottom-0 right-0 z-50 overflow-hidden pointer-events-none max-w-full"
      ref="toastContainerRef">
      <TransitionGroup name="list">
        <NotificationItem
          v-for="(notificationItem, index) in notificationList"
          :id="notificationItem.id"
          :type="notificationItem.type"
          :title="notificationItem.title"
          :description="notificationItem.description"
          :key="notificationItem.id"
          @close="onCloseItem">
        </NotificationItem>
      </TransitionGroup>
    </div>
  </Teleport>
</template>
<style>
.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.3s ease-in-out;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(50%);
}

.list-leave-to {
  opacity: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}
</style>
