<script setup>
const props = defineProps({
  value: {
    required: true,
  },
  options: {
    type: Array,
    default: [],
  },
  placeholder: {
    type: String,
    default: '',
  },
  labelId: {
    type: String,
    default: null,
  },
  size: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['small', 'default'].includes(val);
    },
  },
});
// Emits
const emits = defineEmits(['update:value']);
// Reactive
const isOpen = ref(false);
const isFocus = ref(false);
const selectValue = computed(() => {
  return props.options.find((item) => item.value === props.value);
});
const hoverIndex = ref(0);
// Ref Template
const inputRef = ref(null);
// Methods
function onMouseDownSelect() {
  if (isOpen.value) {
    isFocus.value = true;
  } else isFocus.value = false;
}
function onClickSelect() {
  if (!isFocus.value) {
    inputRef.value.focus();
  }
}
function onFocusInput() {
  isFocus.value = true;
  isOpen.value = true;
}
function onBlurInput() {
  isOpen.value = false;
}

function onMouseleave(index) {
  hoverIndex.value = index;
}
function onKeydownUpArrow() {
  if (hoverIndex.value === 0) {
    hoverIndex.value = props.options.length - 1;
  } else hoverIndex.value -= 1;
}
function onKeydownDownArrow() {
  if (hoverIndex.value === props.options.length - 1) {
    hoverIndex.value = 0;
  } else hoverIndex.value += 1;
}
function onKeydownEnter(hoverIndex) {
  if (props.options[hoverIndex]) {
    let selectValue = props.options[hoverIndex];

    isOpen.value = false;
    emits('update:value', selectValue.value);
  }
}
function onClickItem(option) {
  isOpen.value = false;
  emits('update:value', option.value);
}
</script>
<template>
  <div class="relative select-none cursor-pointer w-fit">
    <div
      @click="onClickSelect"
      @mousedown="onMouseDownSelect"
      class="relative border border-gray-300 bg-white pl-3 pr-9 cursor-pointer rounded-sm shadow focus-within:ring-1 focus-within:ring-primary-200 focus-within:shadow-primary-200 focus-within:border-b-primary-300"
      :class="{
        'py-1 text-sm': size === 'small',
        'py-2 text-base': size === 'default',
      }">
      <div class="relative">
        <input
          type="text"
          :value="selectValue?.value"
          readonly
          class="absolute inset-0 opacity-0"
          :id="labelId"
          @keydown.up="onKeydownUpArrow"
          @keydown.down="onKeydownDownArrow"
          @keydown.enter="($event) => onKeydownEnter(hoverIndex)"
          @focus="onFocusInput"
          @blur="onBlurInput"
          ref="inputRef" />
        <div class="relative h-5 line-clamp-1" v-if="selectValue?.label">
          {{ selectValue?.label }}
        </div>
        <div class="relative h-5 line-clamp-1 text-gray-300" v-else>
          {{ placeholder }}
        </div>
      </div>
      <div
        class="absolute right-3 bottom-1/2 w-3 h-3 translate-y-1/2 text-icon ml-2">
        <i class="pv pv-down-arrow"></i>
      </div>
    </div>
    <Transition name="show">
      <div
        class="absolute top-full translate-y-1 left-0 right-0 py-1 shadow-lg rounded-sm bg-white z-30 overflow-auto"
        :class="{ invisible: !isOpen }">
        <div class="" :style="{ maxHeight: '271px' }">
          <div
            class="px-3 py-1 cursor-pointer line-clamp-1 aria-selected:bg-primary-100"
            title="JSON to YAML"
            v-for="(option, index) of options"
            :class="{
              'py-1 text-sm/6': size === 'small',
              'py-2 text-base/6': size === 'default',
              'bg-gray-100': hoverIndex === index,
            }"
            :key="index"
            :aria-selected="option.value === selectValue?.value"
            @mouseenter="($event) => onMouseleave(index)"
            @mousedown="($event) => onClickItem(option)">
            {{ option.label }}
          </div>
        </div>
      </div>
    </Transition>
  </div>
</template>
<style>
.show-enter-active,
.show-leave-active {
  transition: all 0.3s ease;
}

.show-enter-from,
.show-leave-to {
  opacity: 0;
}
</style>
