<script setup>
// Props
const props = defineProps({
  value: {
    required: true,
  },
  labelId: {
    type: String,
    default: null,
  },
  size: {
    type: String,
    default: 'default',
    validator: (val) => {
      return ['small', 'default'].includes(val);
    },
  },
  placeholder: {
    type: String,
    default: '',
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  rows: {
    type: Number,
    default: null,
  },
  hidden: {
    type: Boolean,
    default: false,
  },
});
// Emits
const emits = defineEmits(['update:value']);
// Methods
function onInput(event) {
  emits('update:value', event.target.value);
}
</script>
<template>
  <textarea
    type="text"
    class="bg-white rounded-sm w-full outline-none px-3 resize-none hover:bg-gray-100 focus:bg-white align-bottom"
    :value="value"
    :rows="rows"
    :placeholder="placeholder"
    :class="{
      'py-1 text-sm': size === 'small',
      'py-2 text-base': size === 'default',
      'bg-opacity-60 bg-gray-200': disabled,
      'border border-gray-300 focus:ring-1 focus:ring-primary-200 focus:shadow-primary-200 focus:border-b-primary-300 shadow':
        !hidden,
    }"
    :id="labelId"
    :disabled="disabled"
    @input="onInput"></textarea>
</template>
