<template>
  <div class="">
    <aside>
      <div
        class="fixed top-0 right-0 left-0 bottom-0 bg-gray-500 bg-opacity-40 z-30 lg:invisible"
        :class="{ 'invisible opacity-0': !isShowSidebar }"
        @click="onHiddenSidebar"></div>
      <div
        class="fixed left-0 top-0 bottom-0 w-64 max-w-full rounded-e-md z-30 bg-gray-50 dark:bg-gray-900 transition-all duration-500"
        :class="{
          'opacity-100 translate-x-0 lg:-translate-x-full lg:opacity-0':
            isShowSidebar,
          'opacity-0 -translate-x-full lg:translate-x-0 lg:opacity-100':
            !isShowSidebar,
        }">
        <button
          class="absolute right-0 top-0 inline-flex justify-center items-center h-16 w-16 rounded-sm text-lg cursor-pointer transition-all duration-300 hover:bg-gray-100 md:hidden"
          aria-label="Close navigation"
          @click="onHiddenSidebar">
          <i class="pv pv-close"></i>
        </button>
        <div class="flex flex-col h-full">
          <div class="px-6 pt-4">
            <div class="flex items-center justify-between">
              <a
                href="#"
                class="flex items-center justify-center p-1.5 rounded text-white focus:ring-1 focus:outline-none focus:ring-primary-300 focus:ring-offset-2 focus:ring-offset-gray-100 dark:focus:ring-offset-gray-900">
                <nuxt-img
                  format="webp"
                  src="/images/dev-toys-logo-orange.png"
                  alt="logo"
                  loading="lazy"
                  fit="contain"
                  width="300px"
                  class="w-44 h-20 max-w-full object-contain" />
              </a>
            </div>
          </div>
          <div
            class="px-6 pt-4 text-gray-300 focus-within:text-gray-900 dark:focus-within:text-white">
            <div class="relative">
              <div class="absolute inset-y-0 left-0 flex items-center pl-2">
                <i class="pv pv-search text-base"></i>
              </div>
              <input
                v-model="searchInput"
                type="text"
                class="w-full pl-8 pr-4 py-2.5 border border-gray-300 rounded text-sm text-gray-900 dark:bg-gray-700 dark:text-gray-100 dark:placeholder-gray-500 focus:outline-none focus:text-gray-900 focus:ring-1 focus:ring-gray-400 dark:focus:bg-gray-800 dark:focus:text-white"
                placeholder="search"
                @input="onSearchCategory" />
            </div>
          </div>
          <div class="px-6 pt-4">
            <hr class="dark:border-gray-700" />
          </div>
          <div class="overflow-y-scroll">
            <div class="px-6 pt-4">
              <Menu>
                <MenuItem
                  v-for="(item, index) in categoryFilted"
                  :key="item.label"
                  :label="item.label"
                  :icon="item.icon"
                  :href="item.href"
                  :isExpand="item.isShowChildren"
                  :children="item.children">
                  <template #icon>
                    <div class="flex" v-html="item.icon"></div>
                  </template>
                  <template #default>
                    <NuxtLink
                      v-if="item?.href"
                      class="line-clamp-1"
                      :to="item.href"
                      :title="item.label"
                      >{{ item.label }}</NuxtLink
                    >
                    <div v-else class="line-clamp-1" :title="item.label">
                      {{ item.label }}
                    </div>
                  </template>
                  <template #childrenLink="{ href, label }">
                    <NuxtLink class="line-clamp-1" :to="href" :title="label">{{
                      label
                    }}</NuxtLink>
                  </template>
                </MenuItem>
              </Menu>
            </div>
            <div class="px-6 pt-8">
              <hr class="dark:border-gray-700" />
            </div>
            <div class="px-6 pt-4 pb-8">
              <Menu>
                <MenuItem
                  v-for="(item, index) in configCategoryList"
                  :key="index"
                  :label="item.label"
                  :icon="item.icon"
                  :href="item.href"
                  :children="item.children">
                  <template #icon>
                    <div class="flex" v-html="item.icon"></div>
                  </template>
                  <template #default>
                    <NuxtLink
                      v-if="item?.href"
                      :to="item.href"
                      class="line-clamp-1"
                      >{{ item.label }}</NuxtLink
                    >
                    <div v-else class="line-clamp-1">
                      {{ item.label }}
                    </div>
                  </template>
                </MenuItem>
              </Menu>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div
      class="transition-all duration-500"
      :class="{
        'lg:ml-0': isShowSidebar,
        'lg:ml-64': !isShowSidebar,
      }">
      <div class="relative flex justify-center px-10 py-1 shadow">
        <button
          class="absolute top-0 left-0 bottom-0 inline-flex justify-center flex-shrink-0 items-center w-16 rounded-sm text-lg cursor-pointer transition-all duration-300 hover:bg-gray-100"
          aria-label="Toggle navigation"
          @click="onToggleSidebar">
          <i class="pv pv-menu"></i>
        </button>
        <div
          class="transition-all duration-300"
          :class="{
            ' opacity-0 lg:opacity-100': isShowSidebar,
            'opacity-100 lg:opacity-0': !isShowSidebar,
          }">
          <nuxt-img
            format="webp"
            src="/images/dev-toys-logo-orange.png"
            alt="logo"
            fit="contain"
            width="150px"
            class="w-full h-14 max-w-full object-contain" />
        </div>
      </div>
      <!-- Content  -->
      <slot />
      <!-- Footer -->
      <Footer></Footer>
    </div>
  </div>
</template>
<script>
import useSidebar from '@/composables/useSidebar.js';
export default {
  setup() {
    const {
      searchInput,
      isShowSidebar,
      onToggleSidebar,
      onHiddenSidebar,
      categoryList,
      categoryFilted,
      configCategoryList,
    } = useSidebar();

    return {
      searchInput,
      isShowSidebar,
      onToggleSidebar,
      onHiddenSidebar,
      categoryList,
      categoryFilted,
      configCategoryList,
    };
  },
};
</script>
