<script setup>
useHead({
  title: '404 | Dev tools',
  meta: [
    {
      hid: 'description',
      name: 'description',
      content: `Oops! Looks like you've stumbled upon a missing page. Our 404
        error page is here to guide you back on track with a touch of humor
        and helpful suggestions.`,
    },
  ],
  htmlAttrs: {
    lang: 'en',
  },
});
</script>
<template>
  <main
    class="flex flex-col items-center justify-center min-h-screen py-10 px-8">
    <nuxt-img
      src="/images/illustrator/sketchy-404-dark.png"
      format="webp"
      alt="404 image"
      fit="contain"
      sizes="sm:66vw md:60vw lg:56vw xl:54vw 2xl:52vw"
      class="w-2/3 mb-12" />
    <h1
      class="text-3xl md:text-5xl lg:text-7xl font-bold text-gray-700 text-center">
      Not Found
    </h1>
  </main>
</template>
