<script setup>
useHead({
  title: 'About Us | Dev tools',
  meta: [
    {
      hid: 'description',
      name: 'description',
      content: `Discover the heart of our Dev Tools site through our About page.
        Unleash your coding potential with a comprehensive suite of development
        tools designed to simplify complex tasks. From code editors to performance
        analyzers, our platform empowers programmers with user-friendly interfaces
        and powerful features. Join our community, stay up-to-date, and bring your
        ideas to life. Explore the possibilities on our Dev Tools site today.`,
    },
  ],
  htmlAttrs: {
    lang: 'en',
  },
});
</script>
<template>
  <main>
    <div class="flex flex-wrap px-4 pt-10 pb-12">
      <div class="w-full md:w-1/2 text-xl p-4 md:order-last">
        <div class="text-primary-500 font-bold my-6">About Us</div>
        <h2 class="text-3xl font-extrabold text-center uppercase mb-12">
          Empowering Developers: Unleashing the Potential of Code
        </h2>
        <p class="text-center mb-12">
          Welcome to our Dev Tool Web! We are a passionate team of developers
          dedicated to providing you with powerful tools that enhance your
          coding journey. Whether you're a seasoned professional or just
          starting out, our goal is to empower you with the resources you need
          to build innovative and efficient solutions. From code editors and
          version control systems to testing frameworks and deployment
          utilities, our carefully curated selection of tools is designed to
          streamline your development process. Join our community of like-minded
          developers, and together, let's transform your ideas into reality.
          Happy coding!
        </p>
      </div>
      <div class="w-full md:w-1/2 text-center">
        <nuxt-img
          src="/images/illustrator/sketchy-7.png"
          format="webp"
          alt="about us page"
          fit="contain"
          sizes="sm:66vw md:60vw lg:56vw xl:54vw 2xl:52vw"
          class="w-full h-full object-contain">
        </nuxt-img>
      </div>
    </div>
  </main>
</template>
