<script setup>
import { notification } from '../composables/useNotification.js';

useHead({
  title: 'Contact Us | Dev tools',
  meta: [
    {
      hid: 'description',
      name: 'description',
      content: `Discover the heart of our Dev Tools site through our About page.
        Unleash your coding potential with a comprehensive suite of development
        tools designed to simplify complex tasks. From code editors to performance
        analyzers, our platform empowers programmers with user-friendly interfaces
        and powerful features. Join our community, stay up-to-date, and bring your
        ideas to life. Explore the possibilities on our Dev Tools site today.`,
    },
  ],
  htmlAttrs: {
    lang: 'en',
  },
});

const initialForm = {
  firstName: '',
  lastName: '',
  email: '',
  topic: '',
  message: '',
};

const errInput = reactive({
  firstName: 'no error',
  lastName: 'no error',
  email: 'no error',
  topic: 'no error',
  message: 'no error',
});

const errInputShow = reactive({
  firstName: false,
  lastName: false,
  email: false,
  topic: false,
  message: false,
});

const contactForm = reactive({ ...initialForm });

const rules = {
  firstName: [{ name: 'required', errMessage: 'Please fill out this field.' }],
  lastName: [{ name: 'required', errMessage: 'Please fill out this field.' }],
  email: [
    {
      syntax: /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/,
      errMessage: 'Invalid email',
    },
    { name: 'required', errMessage: 'Please fill out this field.' },
  ],
  topic: [{ name: 'required', errMessage: 'Please fill out this field.' }],
  message: [{ name: 'required', errMessage: 'Please fill out this field.' }],
};

function onSubmit() {
  let isSuccess = true;
  errInputShow.firstName = false;
  errInputShow.lastName = false;
  errInputShow.email = false;
  errInputShow.topic = false;
  errInputShow.message = false;

  try {
    for (let itemName in rules) {
      for (let rule of rules[itemName]) {
        if (contactForm.hasOwnProperty(itemName)) {
          if (rule?.name === 'required') {
            if (!contactForm[itemName]) {
              errInput[itemName] = rule?.errMessage || 'Error';
              errInputShow[itemName] = true;
              isSuccess = false;
            }
          }
          if (rule?.syntax) {
            if (contactForm[itemName].search(rule.syntax) < 0) {
              errInput[itemName] = rule?.errMessage || 'Format Error';
              errInputShow[itemName] = true;
              isSuccess = false;
            }
          }
        } else throw new Error('No input key');
      }
    }
  } catch (err) {
    notification.error({
      title: 'An error occurred, please try again later!',
      // description:
      duration: 5000,
    });
  }

  if (isSuccess) {
    notification.success({
      title: 'Thank you',
      description: 'Your comments help us a lot',
      duration: 8000,
    });
    Object.assign(contactForm, initialForm);
  }
}
</script>
<template>
  <main>
    <div class="flex flex-wrap px-4 pt-10 pb-12">
      <div class="w-full md:w-1/2 text-xl p-4 md:order-last">
        <div class="text-primary-500 font-bold my-6">Contact Us</div>
        <form @submit.prevent="onSubmit" class="w-full">
          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                for="first-name"
                class="block text-sm tracking-wide font-bold uppercase mb-2 select-none">
                First Name
              </label>
              <input
                type="text"
                class="appearance-none block w-full bg-gray-200 text-gray-700 text-sm border border-b-primary-500 border-b-2 rounded py-3 px-4 mb-1 focus:outline-none focus:bg-white"
                id="first-name"
                placeholder="Jane"
                v-model="contactForm.firstName"
                :class="{
                  'border-t-red-500 border-r-red-500 border-l-red-500':
                    errInputShow.firstName,
                  'focus:border-t-gray-500 focus:border-r-gray-500 focus:border-l-gray-500':
                    !errInputShow.firstName,
                  'bg-gray-200': !contactForm.firstName,
                  'bg-gray-50': contactForm.firstName,
                }" />
              <p
                class="text-red-500 text-xs italic"
                :class="{ invisible: !errInputShow.firstName }">
                {{ errInput.firstName }}
              </p>
            </div>
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <label
                for="last-name"
                class="block text-sm tracking-wide font-bold uppercase mb-2 select-none">
                Last Name
              </label>
              <input
                type="text"
                class="appearance-none block w-full bg-gray-200 text-gray-700 text-sm border border-b-primary-500 border-b-2 rounded py-3 px-4 mb-1 focus:outline-none focus:bg-white"
                id="last-name"
                placeholder="Smith"
                v-model="contactForm.lastName"
                :class="{
                  'border-t-red-500 border-r-red-500 border-l-red-500':
                    errInputShow.lastName,
                  'focus:border-t-gray-500 focus:border-r-gray-500 focus:border-l-gray-500':
                    !errInputShow.lastName,
                  'bg-gray-200': !contactForm.lastName,
                  'bg-gray-50': contactForm.lastName,
                }" />
              <p
                class="text-red-500 text-xs italic"
                :class="{ invisible: !errInputShow.lastName }">
                {{ errInput.lastName }}
              </p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label
                for="email"
                class="block text-sm tracking-wide font-bold uppercase mb-2 select-none">
                Email
              </label>
              <input
                type="text"
                class="appearance-none block w-full bg-gray-200 text-gray-700 text-sm border border-b-primary-500 border-b-2 rounded py-3 px-4 mb-1 focus:outline-none focus:bg-white"
                id="email"
                placeholder="example@gmail.com"
                v-model="contactForm.email"
                :class="{
                  'border-t-red-500 border-r-red-500 border-l-red-500':
                    errInputShow.email,
                  'focus:border-t-gray-500 focus:border-r-gray-500 focus:border-l-gray-500':
                    !errInputShow.email,
                  'bg-gray-200': !contactForm.email,
                  'bg-gray-50': contactForm.email,
                }" />
              <p
                class="text-red-500 text-xs italic"
                :class="{ invisible: !errInputShow.email }">
                {{ errInput.email }}
              </p>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full mb-4">
              <div
                class="block text-sm tracking-wide font-bold uppercase mb-2 select-none">
                Choose topic:
              </div>
              <div class="flex flex-wrap -mx-3 mb-1">
                <div class="flex items-center select-none px-3">
                  <input
                    type="radio"
                    value="q-a"
                    id="q-a"
                    v-model="contactForm.topic" />
                  <label
                    for="q-a"
                    class="block pr-2 py-2 pl-1 text-sm font-bold select-none"
                    >Q&A</label
                  >
                </div>
                <div class="flex items-center px-3 select-none">
                  <input
                    type="radio"
                    value="support"
                    id="support"
                    v-model="contactForm.topic" />
                  <label
                    for="support"
                    class="block pr-2 py-2 pl-1 text-sm font-bold select-none"
                    >Support</label
                  >
                </div>
                <div class="flex items-center px-3">
                  <input
                    type="radio"
                    value="development"
                    id="development"
                    v-model="contactForm.topic" />
                  <label
                    for="development"
                    class="block pr-2 py-2 pl-1 text-sm font-bold select-none">
                    Development
                  </label>
                </div>
                <div class="flex items-center px-3">
                  <input
                    type="radio"
                    value="other"
                    id="other"
                    v-model="contactForm.topic" />
                  <label
                    for="other"
                    class="block pr-2 py-2 pl-1 text-sm font-bold select-none">
                    Other
                  </label>
                </div>
              </div>
              <p
                class="text-red-500 text-xs italic"
                :class="{ invisible: !errInputShow.topic }">
                {{ errInput.topic }}
              </p>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-4">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label
                for="message"
                class="block text-sm tracking-wide font-bold uppercase mb-2 select-none">
                Message
              </label>
              <textarea
                class="appearance-none block w-full text-gray-700 text-sm border border-b-primary-500 border-b-2 rounded py-3 px-4 mb-1 focus:outline-none focus:bg-white resize-none"
                id="message"
                placeholder="Write your message ..."
                autocomplete="off"
                v-model="contactForm.message"
                :rows="5"
                :class="{
                  'border-t-red-500 border-r-red-500 border-l-red-500':
                    errInputShow.message,
                  'focus:border-t-gray-500 focus:border-r-gray-500 focus:border-l-gray-500':
                    !errInputShow.message,
                  'bg-gray-200': !contactForm.message,
                  'bg-gray-50': contactForm.message,
                }"></textarea>
              <p
                class="text-red-500 text-xs italic"
                :class="{ invisible: !errInputShow.message }">
                {{ errInput.message }}
              </p>
            </div>
          </div>
          <div class="flex justify-end">
            <Button>Submit</Button>
          </div>
        </form>
      </div>
      <div class="w-full md:w-1/2 text-center">
        <nuxt-img
          src="/images/illustrator/sketchy-12.png"
          format="webp"
          alt="about us page"
          fit="contain"
          sizes="sm:66vw md:60vw lg:56vw xl:54vw 2xl:52vw"
          class="w-full h-full object-contain">
        </nuxt-img>
      </div>
    </div>
  </main>
</template>
