<script setup>
useHead({
  title: 'Home | Dev tools',
  meta: [
    {
      hid: 'description',
      name: 'description',
      content: `Effortlessly Convert and Format Your Files: Simplify Your Tasks with Our Versatile Online
        Conversion and Formatting Tools. Whether you need to convert documents, images, audio, video, or
        customize formatting for your content, our website offers a user-friendly interface and a wide range of
        options. Save time and enhance efficiency by utilizing our powerful conversion and formatting features.
        Start transforming your files with ease and precision today.`,
    },
  ],
  htmlAttrs: {
    lang: 'en',
  },
});
// Constant data
const list = [
  {
    title: 'Json <> Yaml Converter',
    description: 'Convert JSON files to YAML files without any code',
    icon: '<i class="pv pv-convert-file"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Unix Timestamp',
    description: 'Convert timestamp to date or date to timestamp easily',
    icon: '<i class="pv pv-sun"></i>',
    href: {
      name: 'converter-timestamp',
    },
  },
  {
    title: 'Number Base',
    description: 'Convert numbers from one base to another',
    icon: '<i class="pv pv-binary-code"></i>',
    href: {
      name: 'converter-numberbase',
    },
  },
  {
    title: 'Cron expression parser',
    description: 'Parse Cron expression to get scheduled dates',
    icon: '<i class="pv pv-timing"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Certificate Decoder',
    description:
      'Decode a certificate and verify that it contains the correct information',
    icon: '<i class="pv pv-transfer"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'HTML Encoder / Decoder',
    description:
      'Encode or decode all the applicable characters to their corresponding HTML',
    icon: '<i class="pv pv-html"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'URL Encoder / Decoder',
    description:
      'Encode or decode all the applicable characters to their corresponding URL',
    icon: '<i class="pv pv-unlink"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Base64 Text Encoder / Decoder',
    description: 'Base64 Image Encoder / Decoder',
    icon: '<i class="pv pv-square-64"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Base64 Image Encoder / Decoder',
    description: 'Encode and decode Base64 image data',
    icon: '<i class="pv pv-cycle-64"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Gzip Compress / Decompress',
    description: 'Compress or decompress strings',
    icon: '<i class="pv pv-zip"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'JWT Encoder / Decoder',
    description: 'Decode a JWT header payload and signature',
    icon: '<i class="pv pv-data-security"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Json Formatter',
    description: 'Indent or minify JSON data',
    icon: '<i class="pv pv-json"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'SQL Formatter',
    description: 'Indent SQL',
    icon: '<i class="pv pv-sql"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'XML Formatter',
    description: 'Indent or minify XML data',
    icon: '<i class="pv pv-xml"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Hash Generator',
    description: 'Hash Generator',
    icon: '<i class="pv pv-hash"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'UUID Generator',
    description: 'Generate UUIDs version',
    icon: '<i class="pv pv-id"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Lorem Ipsum Generator',
    description: 'Generate Lorem Ipsum placeholder text',
    icon: '<i class="pv pv-file"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Checksum Generator',
    description: 'Generate a hash with checksum based on a file',
    icon: '<i class="pv pv-add-file"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Text Escape / Unescape',
    description: 'Compare two texts',
    icon: '<i class="pv pv-text-square"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Text Case Converter and Inspector',
    description: 'Analyze text and convert it to a different case',
    icon: '<i class="pv pv-text"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Regex Tester',
    description: 'Validate and test regular expressions',
    icon: '<i class="pv pv-brackets"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Text Comparer',
    description: 'Compare two texts',
    icon: '<i class="pv pv-compare"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'XML Validator',
    description: 'Validate XML data via a XSD scheme',
    icon: '<i class="pv pv-xml"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Markdown Preview',
    description: 'Preview a Markdown document with a GitHub-like render',
    icon: '<i class="pv pv-markdown"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Color Blindness Simulator',
    description: 'Simulate color blindness on a picture or screenshot',
    icon: '<i class="pv pv-hide"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Color Picker & Contrast',
    description: 'Pick up a color or two and validate the contrast ratio',
    icon: '<i class="pv pv-art"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'PNG / JPEG Compressor',
    description: 'Lossless PNG and JPEG optimizer',
    icon: '<i class="pv pv-picture"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
  {
    title: 'Image Converter',
    description: 'Lossless image converter',
    icon: '<i class="pv pv-photo"></i>',
    href: {
      name: 'converter-jsonvsyaml',
    },
  },
];
</script>
<template>
  <main class="px-4">
    <div class="pt-6 pb-12">
      <h1 class="text-3xl font-bold mb-1">All tools</h1>
      <h2 class="text-sm text-gray-500 mb-4">
        Unlocking the Full Potential: Experience Our Range of Exceptional
        Services
      </h2>
      <div
        class="grid gap-4 grid-flow-col-1 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7">
        <HomeCard
          v-for="item of list"
          :key="item.title"
          :title="item.title"
          :description="item.description">
          <template #icon>
            <span v-html="item.icon"></span>
          </template>
          <NuxtLink :to="item.href"></NuxtLink>
        </HomeCard>
      </div>
    </div>
    <div class="py-12">
      <h2 class="text-2xl font-bold mb-2 text-center">
        <span class="text-primary-500">Transform</span> and
        <span class="text-sky-500">Beautify</span> Your Code with
        <span class="text-green-500">Ease</span>
      </h2>
      <p class="text-gray-500 text-center text-lg mb-8">
        Effortlessly enhance readability, consistency, and style across
        programming languages
      </p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="shadow-lg py-8 px-4 rounded hover:shadow-md">
          <div class="flex justify-center items-center mb-3">
            <nuxt-img
              src="/images/illustrator/sketchy-1.png"
              format="webp"
              fit="contain"
              alt="Fast"
              width="128px"
              loading="lazy"
              class="w-32 h-32 object-contain select-none" />
          </div>
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-3 line-clamp-1">Fast</h3>
            <p class="tracking-wide font-semibold text-gray-400">
              Experience unrivaled website speed that ensures instant access to
              content, offering a seamless browsing experience like never
              before.
            </p>
          </div>
        </div>
        <div class="shadow-lg py-8 px-4 rounded hover:shadow-md">
          <div class="flex justify-center items-center mb-3">
            <nuxt-img
              src="/images/illustrator/sketchy-4.png"
              format="webp"
              fit="contain"
              alt="Fast"
              width="128px"
              loading="lazy"
              class="w-32 h-32 object-contain select-none" />
          </div>
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-2 line-clamp-1">Security</h3>
            <p class="tracking-wide font-semibold text-gray-400">
              We will immediately delete the uploaded file and remove the
              converted file after 24 hours. No one has the right to access your
              files, ensuring 100% privacy.
            </p>
          </div>
        </div>
        <div class="shadow-lg py-8 px-4 rounded hover:shadow-md">
          <div class="flex justify-center items-center mb-3">
            <nuxt-img
              src="/images/illustrator/sketchy-13.png"
              format="webp"
              fit="contain"
              alt="Fast"
              width="128px"
              loading="lazy"
              class="w-32 h-32 object-contain select-none" />
          </div>
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-2 line-clamp-1">Easy</h3>
            <p class="tracking-wide font-semibold text-gray-400">
              Simplicity at its finest. Our user-friendly website provides
              effortless navigation and intuitive features, making it a breeze
              to explore, interact, and accomplish tasks with ease.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="py-12">
      <h2 class="text-2xl font-bold mb-2">Empower Your Productivity</h2>
      <p class="text-gray-500 text-lg mb-8">
        Unlock Efficiency and Ease in Your Work with Our Intuitive Platform
      </p>
      <div>
        <div class="flex flex-col md:flex-row">
          <div class="w-full md:w-1/2">
            <nuxt-img
              src="/images/illustrator/sketchy-5.png"
              format="webp"
              fit="contain"
              alt="work easier"
              width="600px"
              class="w-full object-contain" />
          </div>
          <div class="flex-1 self-center px-8">
            <h3 class="mb-4 text-lg font-semibold">
              Efficiency Redefined: Streamline Workflows, Maximize Productivity.
            </h3>
            <ul class="list-disc list-inside space-y-2">
              <li>
                Boost Your Productivity: Experience Effortless Workflows with
                Our Intuitive Platform
              </li>
              <li>
                Our user-friendly platform simplifies your work processes,
                saving you time and effort
              </li>
              <li>
                Effortlessly manage tasks, collaborate seamlessly, and stay
                organized with ease
              </li>
              <li>
                Unlock new levels of efficiency as our intuitive tools
                streamline your daily workflow
              </li>
              <li>
                Experience the power of simplicity and enhance your productivity
                today
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
